composer.lock
.buildpath
.project
.settings/

config/development/database.config.php
config/development/mailer.php
config/development/site_info.php
config/staging/database.config.php
config/staging/mailer.php
config/staging/site_info.php
config/test/database.config.php
config/test/mailer.php
config/test/site_info.php
config/production/database.config.php
config/production/mailer.php
config/production/site_info.php
config/database.config.php
temp/*
!.gitkeep

logs/*
!.gitkeep

app/controllers/*
!.gitkeep
!DefaultController.php
!RoleController.php
!UserController.php
!UserInfoController.php
apps/models/
!Auth.php
!Role.php
!UserInfo.php
!User.php
apps/views/*
!.gitkeep
!Default
!Mailer
!Role
!User
!UserInfo
!common
!layout
vendor/*
!.gitkeep
db/schema/*
!auth.yaml
!boards.yaml
!migrations.yaml
!roles.yaml
!user_infos.yaml
!users.yaml
