/composer.lock
/.buildpath
/.project
/.settings/*

/config/development/database.config.php
/config/development/mailer.php
/config/development/site_info.php
/config/staging/database.config.php
/config/staging/mailer.php
/config/staging/site_info.php
/config/test/database.config.php
/config/test/mailer.php
/config/test/site_info.php
/config/production/database.config.php
/config/production/mailer.php
/config/production/site_info.php
/config/database.config.php
/temp/*
!.gitkeep

/logs/*
!.gitkeep

/apps/controllers/*
!.gitkeep
/!DefaultController.php
!RoleController.php
!UserController.php
!UserInfoController.php
!PrefController.php
!CityController.php
/apps/models/*
!Auth.php
!Role.php
!UserInfo.php
!User.php
!Pref.php
!City.php
/apps/views/*
!.gitkeep
!Default
!Mailer
!Role
!User
!UserInfo
!Pref
!City
!common
!layout
/vendor/*
!.gitkeep
/db/migrate/*
!Migrate20200228180000CreateTableUser.php
!Migrate20200328175524CreateTableUserInfo.php
!Migrate20200328175530CreateTableRole.php
!Migrate20200329142345CreateTablePref.php
!Migrate20200329142351CreateTableCity.php
/db/seeds/*
!users.csv
!user_infos.csv
!prefs.csv
"cities.csv
/db/schema/*
!auth.yaml
!boards.yaml
!migrations.yaml
!roles.yaml
!user_infos.yaml
!users.yaml
